$ballWH=42px
$menuItemWH=50px
$ballWithMenuItemOffset=($menuItemWH - $ballWH)/2

.hover-ball
    position:fixed
    width:$ballWH
    height:$ballWH
    background:rgba(0,0,0,0.15)
    border-radius:100%
    margin:auto
    top:0
    bottom:0
    left:0
    right:0
    
    .ball-fg
        background:#fff
        border-radius:100%
        height:30px
        width:30px
        margin:auto
        position:absolute
        top:0
        bottom:0
        left:0
        right:0

    .ball-menu
        position:absolute

        .ball-menu-item
            background:rgba(0,0,0,0.5)
            width:$menuItemWH
            height:$menuItemWH
            border-radius:100%
            text-align:center
            position:absolute

            &:nth-of-type(1)
                top:-100px - $ballWithMenuItemOffset
                left:- $ballWithMenuItemOffset
            
            &:nth-of-type(2)
                top:-65px
                left:-65px
            
            &:nth-of-type(3)
                left:-100px
                top:- $ballWithMenuItemOffset

            &:nth-of-type(4)
                left:-65px
                bottom:-65px - $menuItemWH

            &:nth-of-type(5)
                left:- $ballWithMenuItemOffset                
                bottom:-100px - $menuItemWH - $ballWithMenuItemOffset


